ENV='example'

# API setiings General
DEFAULT_API_TIMEOUT=60
AUTH_KEY='special-key'

#Dummy json API settings
DUMMY_BASE_API_URL='https://dummyjson.com'
DUMMY_TEST_API_USERNAME='username'
DUMMY_TEST_API_PASSWORD='password'

#RestfullBooker API settings
RESTFULL_BASE_API_URL='https://automationintesting.online/api'

# UI settings
BASE_UI_URL='https://automationintesting.online/'
BROWSER='CHROME'
DEVICE=
HEADLESS=True
SLOW_MO=100

# DB settings
USER=your_user
PASSWORD=your_password