ENV='example'

# API setiings General
DEFAULT_API_TIMEOUT=60
AUTH_KEY='special-key'

#Dummy json API settings
DUMMY_BASE_API_URL='https://dummyjson.com'
DUMMY_TEST_API_USERNAME='username'
DUMMY_TEST_API_PASSWORD='password'

# UI settings
BASE_UI_URL=
BROWSER=

# DB settings
USER=your_user
PASSWORD=your_password