ENV='example'

# API setiings
BASE_API_URL='https://petstore.swagger.io/'
AUTH_KEY='special-key'
DEFAULT_API_TIMEOUT=60
TEST_API_USERNAME='username'
TEST_API_PASSWORD='password'

# UI settings
BASE_UI_URL=
BROWSER=

# DB settings
USER=your_user
PASSWORD=your_password